<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Reset Password - Salby Chicken Smash</title>
    <link rel = "icon" href ="http://127.0.0.1:8000/media/shop/images/salby-logo.png" type = "image/x-icon">
</head>
<body>

    <div class="jumbotron">
        <h3>Password direset. verifikasi lewat email!</h3>
        <p>Kami sudah reset password-mu! jika kamu memasukkan email asli saat daftar, maka kamu akan mendapatkan email dengan cepat</p>
        <p>jika tidak ada email masuk, cek folder spam pada email-mu.</p>
    </div>

</body>
</html>

